@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Splash&display=swap');

body {
    background-color: black;
    color: antiquewhite;
    font-family: 'Noto Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    /* overflow:hidden; */
    user-select: none;
}

nav ul {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    font-size: 20px;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: rgba(27, 212, 114, 255);
}

nav ul li {
    -webkit-box-orient: vertical;
}

nav ul li a {
    float: left;
    color: antiquewhite;
    text-align: center;
    text-decoration: none;
    margin: 0 0;
    padding: 20px 18px;

}

nav ul li a:hover {
    background-color: rgb(0, 0, 0);
}

.brand {
    display: flex;
    align-items: center;
    padding: 0 8px;
    user-select: none;
}

#spotify_logo {
    height: 40px;
}

.container {
    background-color: darkslategrey;
    min-height: fit-content;
    height: auto;
    width: auto;
    overflow-x: break-word;
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px 10px;
    border-radius: 20px;



}

/* #trending{
    position:absolute;
    
} */
.songlist {
    max-width: max-content;
    overflow-x: auto;

}

.songlist::-webkit-scrollbar {
    width: 1px;
    height: 8px;
}

.songlist::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.4);
}

.songlist::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 0 solid slategrey;
}

#head {
    margin-left: 25px;
    margin-top: 100px;
    /* padding-left:10px; */
}

.bottom {
    position: fixed;
    bottom: 0;
    z-index: 100;
    user-select: none;
    width: 100%;
    height: 80px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.buttons {
    
    margin-top: 5px;
    margin-right: 7px;
    margin-left: 7px;
    cursor: pointer;
}

.buttons:hover {
    box-shadow: 10px 8px 16px 10px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
}

#progress_bar {
    width: 100%;
    cursor: pointer;
}

#time_elapsed {
    display: flex;
    position: absolute;
    left: 3vw;
    color: rgb(172, 182, 155);
    background-color: black;
    user-select: none;
    border-radius: 5px;

}

#total_duration {
    display: flex;
    position: absolute;
    right: 3vw;
    color: rgb(172, 182, 155);
    background-color: black;
    user-select: none;
    border-radius: 5px;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    /* margin:40px 10px; */
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    display: list-item;
    list-style-type: none;
    font-size: 12px;

}

.song_item {
    display: flex;

}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    background-color: slategray;
    margin-top: 1px;
    margin-bottom: 15px;
    margin-right: 15px;
    margin-left: 15px;
    font-size: 15px;

}

.songname {
    display: block;
    text-align: center;

}

.song_pics {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    height: 100px;
    width: 100px;
}

.timestamp {

    display: block;
}

.timestamp i {
    cursor: pointer;
}

.line {
    margin-right: 20px;
    margin-left: 20px;
}

.song_info {
    display: flex;
    width: auto;
    position: absolute;
left:0;
    margin-top: 15px;
}

#gif {
    position:absolute;
    top:3.5vh;
    left:89vw;
    opacity: 0;
    transition: opacity 0.05s ease-in-out;
    border-radius: 50px;
    height: 20px;
    width: 30px;

}

.song_info span {
    background-color: darkslategray;
    border-radius: 6px;
    margin-left: 5px;
}


#fixed_content {
    width: 100%;
    height: 72px;
}

.contact_link {
    color: antiquewhite;
    text-align: center;
    text-decoration: none;
    padding: 5px;
}


.pic {
    display: flex;
}

#instapic {
    margin-left: 10%;
    margin-top: 20px;
    height: 100px;
    border-radius: 200px;
}

#pic_text {
    font-size: 30px;
    margin-top: 10%;
    margin-left: 20px;
    font-family: 'Splash', cursive;
}

h1 {
    font-size: 20px;
}

#song{
    margin-top:40px;
    font-size:10px;
}
.lastcont{
    text-align:center;
    font-size:16px;
    background-color: darkslategray;
    margin:10px 10px;
    border-radius:10px;
}
